# Dependencies
node_modules/

# Local dev
.cache/
dist/
build/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

.vercel
